.meter { 
    height: 5px;
    position: relative;
    background: #000000;
    overflow: visible;
}

.meter span {
    display: block;
    height: 100%;
}

.loading {
    background-color: #10df33;
    animation: loadinganimation 20s;
    animation-fill-mode:forwards; 
}

@keyframes loadinganimation {
  0% { width: 0; }
  100% { width: 100%; }
}


